
@import 'variables.css';

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background: var(--color-white);
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-base);
  -webkit-font-smoothing: antialiased;
}


.u-clearfix::after {
   visibility: hidden;
   display: block;
   font-size: 0;
   content: " ";
   clear: both;
   height: 0;
}

.app {
  margin: 20px;
  background: var(--color-white);
}

.app_header {
  margin: 2em 0 1em;
  font-weight: var(--font-weight-base);
  font-size: var(--font-size-huge);
}

.app_addTenant {
  position: relative;
  display: inline-block;
  padding-left: 20px;

  color: var(--color-text-light);
  letter-spacing: var(--letter-spacing-loose);
  text-transform: uppercase;
  font-size: var(--font-size-small);
  transition: color var(--transition-time-base);
  text-decoration: none;
}
.app_addTenant::before,
.app_addTenant::after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;

  display: block;
  width: 12px;
  height: 2px;
  margin-top: -1px;
  background: var(--color-highlight);
}
.app_addTenant::after {
  transform: rotate(90deg);
}
.app_addTenant:hover,
.app_addTenant:focus {
  outline: none;
  color: var(--color-text-highlight);
}

@media (--large) {
  .app {
    max-width: 480px;
    margin: 0 auto;
  }
}
