
@import 'variables.css';

.percentageSlider {
}

.percentageSlider_input_box {

}

.percentageSlider_input {
  position: relative;
  height: 4px;
  width: 100%;
  max-width: 280px;

  border-radius: 4px;
  background: var(--color-grey-light);
  -webkit-appearance: none;
  transition: background var(--transition-time-base);
}
.percentageSlider_input:active,
.percentageSlider_input:focus {
  outline: 0;
  background: var(--color-highlight);
}
