
.textInput {

}

.textInput_box {
  position: relative;
  width: 100%;
  max-width: 280px;
}

.textInput_extra {
  position: absolute;
  top: 5px;
  right: 0;
  pointer-events: none;
}

.textInput_input {
  width: 100%;
  padding: 4px 0;
  border: 0;
  border-bottom: 2px solid var(--color-grey-light);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-base);
  transition: border var(--transition-time-base);
}
.textInput_input:not(:disabled):hover {
  border-color: color(var(--color-highlight) blend(var(--color-grey-light) 50%));
}
.textInput_input:not(:disabled):focus,
.textInput_input:not(:disabled):active {
  outline: none;
  border-color: var(--color-highlight);
}
